/* Estilos para el menú hamburguesa */
.menu-toggle {
    display: none; /* Ocultar el menú hamburguesa por defecto en pantallas grandes */
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.menu-bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: transform 0.3s, background-color 0.3s;
}

.menu-toggle.active .menu-bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.menu-toggle.active .menu-bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .menu-bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

/* Estilos para el menú en pantallas pequeñas */
@media (max-width: 768px) {
    .menu-toggle {
        display: block; /* Mostrar el menú hamburguesa en pantallas pequeñas */
    }

    nav {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #fff;
        width: 250px;
        height: 100%;
        padding-top: 80px; /* Ajuste para el espacio del encabezado */
        box-shadow: -1px 0 10px rgba(0,0,0,0.1);
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

    nav.active {
        display: block; /* Mostrar el menú cuando esté activo */
        transform: translateX(0);
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        padding: 15px;
        border-bottom: 1px solid #eee;
    }

    nav ul li:last-child {
        border-bottom: none;
    }

    nav ul li a {
        text-decoration: none;
        color: #333;
        font-size: 18px;
    }
}
