$font-body: "Cambria Math", sans-serif;
$font-header: "Cambria Math", serif;
$color-background: #f0f0f0;
$color-header-bg: #e9bfe9;
$color-header-text: #fff;
$color-nav-bg: #666;
$color-nav-text: #f1d9ee;
$color-link: #670977;
$color-section-bg: #fff;
$color-footer-bg: #95b879;
$color-footer-text: #fff;
$color-h1-h2: #333;
$color-product-text: #666;
$color-product-border: #f3c8c8;