
header {
    background-color: $color-header-bg;
    color: $color-header-text;
    padding: 20px;
    text-align: center;
  
    h1 {
      font-family: $font-header;
      font-size: 36px;
      color: $color-h1-h2;
    }
  }
  